{% extends 'base.html.twig' %}
{% block body  %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

<h1>Mamiferos</h1>
esta é a página de detalhe do mámifero {{ animal }}.

{# ignore esta linha #}

{% if animal == "Gato"  %}
     <br>
    Nossa, um <strong>Gato</strong>

{% endif %}

<ul>
{% for resposta in respostas %}
    <li>
   {{ resposta }}
    </li>
{% endfor %}
</ul>

<h2>{{ respostas |last  }}</h2>
{% endblock  %}