{% extends 'base.html.twig' %}
{% block body  %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Mamiferos</h1>
            <p>Esta é a pagina de detalhe do mamífero Gato.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    Está lista contém {{ respostas |length  }} itens
                </button>
                {% for resposta in respostas %}
                <button type="button" class="list-group-item list-group-item-action">{{ resposta }}</button>
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock  %}